<div style="margin-top: 100px;">
<h1>チャット</h1>
<%= form_tag url: [ @group, :messages ] do %>
  内容
  <textarea name='message[content]' class='form-control content-field'></textarea>
  <input type="submit" value="送信する" class="btn primary-btn">
<% end %>
</div>
<% @messages.each do |m| %>
  <p><%= m.content %></p>
<% end %>
 

 