<h2>画像</h2>
<p><%= image_for(@note) %></p>
<h2>内容</h2>
<p><%= @note.content %></p>


<div id="like-link">
  <%= render "likes/like_links", note: @note %>
</div>


<div>
  <small>
    <%= link_to @note.likes.count, liking_users_note_path(@note.id), id: "like-count" %>人がいいね！といっています
  </small>
</div>


