%div.sidebar
  %ul
  -@groups.each do |group|
    %p
      =link_to "#{ group.users.where.not(id: current_user.id).map(&:name).join(',')}", group_move_path(group.id), remote: true
      - groups_user = current_user.groups_users.find_by(group_id: group.id)
      - if !group.messages.where.not(user_id: current_user.id).last
        %a="(まだメッセージがありません)"
      - elsif groups_user.read_at > group.messages.where.not(user_id: current_user.id).last.created_at
        %a="(既読)"
      - else 
        %a="(未読)"
    %ul.message_center
      %li#message_name
        = render @messages


    = render 'form'


