%ul.message_index
  -@groups.each do |group|
    %li
      =link_to "#{ group.users.where.not(id: current_user.id).map(&:name).join(',')}のメッセージ",group_messages_path(group.id)
    %li
      - if @groups_user.read_at > group.messages.where.not(user_id: current_user.id).created_at
      %h "既読"
      - else 
      %h "未読"
      


