
<h1 class="heading">ユーザー一覧</h1>

<ul class="user-list">
  <%= render @users %>
</ul>

<%#　以下をScaffoldingしたindex.html.erbに追記する %>
<%= form_tag search_index_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>