- if user_signed_in?
  %aside.sidebar
    = render 'notes/form'
  %ul.notes
    = render @notes
- else
  %div.top-wrapper
    %div.container
    %h1  Let's study abroad
    %p  PEACEは留学生に特化したSNSサービスです。世界中の留学生と留学生活をシェアしたり、住民票やVISAなどの留学の手続きを管理します。
    %p  Create your free acount
    %a= link_to "新規登録", new_user_registration_path, class: "btn signup"
    %a= link_to "Facebook", user_omniauth_authorize_path(:facebook), class: "btn facebook"
